.readBox{
    /* display: flex; */
  width: 800px;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.card {
    background-color: #ffffff; /* White background */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Shadow effect */
    padding-left: 1.25rem; /* Equivalent to px-5 (padding on the left side) */
    padding-right: 1.25rem; /* Equivalent to px-5 (padding on the right side) */
    padding-top: 0.75rem; /* Equivalent to pt-3 (padding on the top) */
    padding-bottom: 1.25rem; /* Equivalent to pb-5 (padding on the bottom) */
    border-radius: 0.5rem; /* Rounded corners */
  }

  .readForm {
    position: relative;
    display: inline-block;
  }
  
  .readForm img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 70px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding-top: 19px;
  }
  .readTitle {
    margin-left: 80px;
  }

  .card button{
    margin-left: 79%;
    background-color: chocolate;
  }
  .card h2{
    margin-bottom: 0;
  }
  .card h4{
    margin: 0;
  }
  .mbOne{
    margin-left: 3.5%;
  }

  .button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .button-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .button-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  